@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&display=swap');

* {
    margin: 0vw;
    padding: 0vw;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

:-webkit-scrollbar {
    width: 0vw;
    height: 0vw;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

header {
    height: 43.5vw;
    width: 100vw;
    background-image: url("assets/star uó topo.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

header figure {
    width: fit-content;
    height: fit-content;
}

header figure div {
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.star {
    position: absolute;
    left: 19vw;
    top: 23.65vw;
    height: 6.1vw;
    width: 23.8vw;
}

.kyloRen {
    left: 50%;
    margin-left: -40.05vw;
    position: absolute;
    width: 70.5vw;
    z-index: 1;
}

.wars {
    position: relative;
    left: 27.8vw;
    top: 23.6vw;
    height: 6.1vw;
    width: 26vw;
}

header section {
    position: absolute;
    top: 33.8vw;
    right: 11.719vw;
    color: black;
    font-size: 1.6vw;
    z-index: 3;
}

header .crieLe .br {
    border-bottom: solid black;
    padding-bottom: 1.302vw;
    margin-bottom: 1.302vw;
}

.br {
    display: block;
}

.stg {
    font-weight: 700;
}

.num {
    font-size: 1vw;
}

.Nm {
    display: flex;
    justify-content: space-between;
    width: 6.4vw;

}

.bt1 {
    background-color: #A9BDC1;
    cursor: pointer;
    color: #000000;
    font-weight: 900;
    font-size: 0.6vw;
    padding: 0.005vw 0.2vw;
    text-decoration: none;
    border: none;
    margin-right: 0.104vw;
}

.bt1:hover {
    background-color: #7c898b;
}

.bt1:active {
    position: relative;
    top: 0.052vw;
}

.sec1 {
    background-image: url("assets/sta uo robot.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 76.146vw;
    width: 100%;
    z-index: 1;
}

.stormRed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30.417vw;
    width: 20.729vw;
    position: relative;
    z-index: 3;
    top: -2.95vw;
    right: -14.5vw;
    background-image: url("assets/strom trupe red.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.stormRed div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 29.5vw;
    width: 17.5vw;
}

.stormRed h2,
.stormRed h2 .br {
    text-align: center;
    font-size: 2.6vw;
    font-weight: 600;
}

.stormRed .comece p .br,
.stormRed .comece p {
    font-size: 1.042vw;
    font-weight: 5;
}

.stormRed button {
    background-color: transparent;
    color: white;
    border: white solid 0.104vw;
    border-radius: 0.26vw;
    font-size: 1.042vw;
    font-weight: 300;
    padding: 0.521vw 2.344vw;
}

.txtUpd {
    font-size: 0.05vw;
    font-weight: 10;
    position: absolute;
    bottom: 2.604vw;
    left: 13.021vw;
    color: #ffffff8a;
}

.sobre {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: absolute;
    top: 57.813vw;
    right: 7.292vw;
    width: 60vw;
    height: 12.969vw;
}

.sobre article {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    padding-right: 1.042vw;
}

.sobre h2 {
    font-size: 1.6vw;
    font-weight: 700;
    padding-bottom: 1vw;
}

.stP,
.sobre .br {
    font-size: 1vw;
    font-weight: 500;
}

.bar {
    height: 0.156vw;
    width: 9.01vw;
    background-color: #000000;
}

.stP {
    padding-top: 1vw;
}

.stBtl {
    position: relative;
    bottom: -0.1vw;
    left: 0.1vw;
    width: 20.729vw;
    height: 12.448vw;
}

.sec1_5 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.sec1_5 div {
    margin-top: 2.5vw;
    padding-top: 1.406vw;
    position: relative;
    left: 3.542vw;
    display: flex;
    flex-direction: row;
    width: 78.229vw;
    height: auto;
    border-top: solid 0.26vw rgba(0, 0, 0, 0.5);
}

.maul {
    position: relative;
    top: -0.208vw;
    width: 44.063vw;
    height: 43.906vw;
    z-index: 2;
}

.sec1_5 article {
    position: relative;
    top: 3.776vw;
    right: 8.073vw;
    text-align: end;
    z-index: 3;
}

.estJogo {
    font-size: 3.646vw;
    text-align: end;
}

.estJogo .br span {
    font-size: 3.229vw;
}

.estJogo,
.estJogo .br {
    line-height: 3.75vw;
    font-weight: 600;
}

.estJogo .br span {
    font-weight: 400;
    font-family: 'Bowlby One', cursive;
}

.estUl {
    list-style: none;
    position: absolute;
    top: 7.73vw;
    right: 0vw;
    height: 22.59vw;
    width: 31.25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    font-size: 1.51vw;
}

.estUl li {
    padding-right: 0.833vw;
    width: 26.823vw;
}

.estUl li:hover {
    cursor: pointer;
    background-color: #D74430;
    color: white;
}

.rey {
    position: relative;
    top: 4.74vw;
    right: 7.1vw;
    width: 20.729vw;
    height: 39.583vw;
    z-index: 2;
}

.sec2 {
    position: relative;
    top: -1.198vw;
    background-color: #2D2D2D;
    width: 100%;
    height: 122.135vw;
    z-index: 1;
}

.dv {
    position: relative;
    top: 2.604vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 105.313vw;
}

.atrb {
    color: #ffffff;
    font-family: 'Assistant', sans-serif;
    font-size: 2.604vw;
    font-weight: 800;
    position: relative;
    right: 27.604vw;
}

.sec2 .fg1 {
    height: 26.146vw;
    width: 85.417vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.seTrp {
    position: relative;
    width: 21.354vw;
    height: 13.073vw;
    background-image: url("assets/Security_stormtrooper_HUC2-FF-003301.png");
    background-size: cover;
    display: flex;
    justify-content: center;
}

.seTrp img {
    position: absolute;
    bottom: 0vw;
    width: 22.396vw;
}

.imgB {
    height: 51.563vw;
    width: 42.917vw;
}

.imgFg {
    width: 21.354vw;
}

.hrq {
    height: 51.563vw;
}

.fg2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    text-align: end;
    width: 85.417vw;
    height: 55vw;
}

.fg2 figcaption,
.fg2 figcaption .br {
    color: #ffffff;
    font-weight: 100;
    font-size: 0.99vw;
}

.cj {
    position: relative;
    top: 4.5vw;
    right: -3vw;
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
    font-family: 'Assistant', sans-serif;
    color: white;
}

.sec3 {
    position: relative;
    top: -1.198vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 22.604vw;
    z-index: 1;
}

.sec3 img {
    margin-bottom: 2.083vw;
    width: 27.969vw;
    z-index: 3;
}

.cxs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    width: 55.625vw;
    margin-left: 0.833vw;
}

.d1,
.d2,
.d3 {
    position: relative;
    display: flex;
    width: 13.542vw;
    height: 15.469vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.d1 div,
.d2 div,
.d3 div {
    position: absolute;
    bottom: 0px;
    width: 5.208vw;
    border-bottom: solid 0.26vw #000000;
    transition: ease-out 0.5s;
}

.d1:hover div,
.d2:hover div,
.d3:hover div {
    border-bottom: solid 0.26vw #D74430;
}

.cxs h3 {
    font-size: 2.604vw;
    font-weight: 350;
}

.cxs button {
    width: 13.542vw;
    height: 3.646vw;
    background-color: #000000;
    box-shadow: inset 0 0 0 0 #D74430;
    color: #ffffff;
    font-size: 30px;
    font-weight: 200;
    border: none;
    transition: ease-in-out 1s;
}

.cxs p,
.cxs span {
    font-size: 1.042vw;
    font-weight: 300;
}

.d1:hover h3,
.d2:hover h3,
.d3:hover h3 {
    font-weight: 700;
}

.d1:hover button,
.d2:hover button,
.d3:hover button {
    box-shadow: inset -13.542vw 0 0 0 #D74430;
}

footer {
    height: 53.333vw;
}
footer section{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.drtVd{
    width: 39.375vw;
}
.cxLr{
    background-color: #FF5A56;
    width: 63.958vw;
    height: 46.042vw;
}